:root {
  --white: #ffffff;
  --success: #4169e1;
  --orange: #ad4b16;
  --deep-blue: #0b0b43;
  --navy: #000080;
  --darkblue: #00008b;
  --darkgreen: #006400;
  --font-s: 14px;
  --font-sm: 18px;
  --font-m: 20px;
  --font-l: 28px;
  --font-xl: 32px;
}
